// Primary

$clr--white: hsl(0, 0%, 100%);
$clr--dark-violet: hsl(256, 26%, 20%);
$clr--grayish-blue: hsl(216, 30%, 68%);

// Neutral

$clr--very-dark-violet: hsl(270, 9%, 17%);
$clr--dark-grayish-violet: hsl(273, 4%, 51%);
$clr--very-light-gray: hsl(0, 0%, 98%);