@font-face {
  font-family: 'DM Serif Display';
  src: url('/src/assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Karla';
  src: url('/src/assets/fonts/Karla/Karla-VariableFont_wght.ttf');
}